
body {
  font-family: palatino linotype, book antiqua, palatino, serif;
  margin: 0;
  background-image: url(https://adreamer49.files.wordpress.com/2014/05/toy-story-3-26.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  #headtext {
    color: #003399;
    font-size: 50px;
    padding: 8px 12px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 900;
    }

#headimage {
  width: 100px;
  height: 100px;
  }

#headtextright {
  color: #003399;
  text-shadow: white;
  font-size: 45px;
  padding: 8px 12px;
  text-align: right;
  }

.navbar {
  background-color:  transparent;
  color: #003399;
  }

.navbar a:hover {
  background-color: #003399;  
  opacity: 0.65;
  filter: alpha(opacity=65);
  color: white;
  }

.btn {
  background-color: white;
  color: #003399;
  border-color: #003399;
}

.btn:hover {
  background-color: #003399;
  color: white;
  border-color: white;
}



.fa {
  padding: 4px;
  font-size: 50px;
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-instagram {
  background: #003399;
  color: white;
}

.fa-twitter {
  background: #003399;
  color: white;
}

.fa-facebook {
  background: #003399;
  color: white;
}
